table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    text-align: left;
    padding: 8px;
}

/*tr:nth-child(even){background-color: #f2f2f2}*/

th {
    background-color: purple;
    color: white;
}
.error, .warning, .success{
    color: white;
}
.error{
    background: red;
}
.warning{
    background: orange;
}
.success{
    background: green;
}