<div style="overflow-x:auto">
  <table>
    <tr>
        <th>№</th>
        <th>Дата регистрации</th>
        <th>ФИО</th>
        <th>Номер</th>
        <th>Сообщение</th>
        <th>ICC</th>
    </tr>
    <tr *ngFor = "let report of reports; let i = index;"  [ngClass] = "setLabel(report.Status).label" >

          <td>{{i + 1}}</td>
          <td>{{report.regDate}}</td>
          <td>{{report.fullName}}</td>
          <td>{{report.number}}</td>
          <td>{{setLabel(report.Status).msg}}</td>
          <td>{{report.icc}}</td>
      </tr>
  </table>
</div>
<!--<div [ngBusy]="busy"></div>-->
