.order--container{
    margin-top: 20px;
}
.order--container .order--category {
    width: 100%;
    display: -ms-flex;
	display: -webkit-flex;
	display: flex;
    align-items: center;
    justify-content: center;
}

.order--container .order--category div:first-child
,.order--container .order--price div:first-child
{
    color: gray;
}

.order--container .order--category div{
    font-size: 20px;
    padding: 5px;
}

.order--container .order--price {
    margin-top: 50px;

}
.order--container .order--price div:last-child{
    font-size: 25px;
}


#order--phone{
    text-align: center;
    font-size: 30px;
}
.order--button{
    margin-top: 20px;
    width: 100%;
    display: -ms-flex;
	display: -webkit-flex;
	display: flex;
    align-items: center;
    justify-content: space-between;
}

.order--button button {
    height:45px;
    padding: 5px 10px;
    font-size: 18px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #fff;
    border: none;
    border-radius: 5px;
    width:50%;
    margin: 10px;
}

.primary{
    background-color: #5e037c;
    box-shadow: 0 7px #4c0166;
}

.secondary{
    background-color: gray;
    box-shadow: 0 7px #333;
}
.additional div {
  color: gray;
  font-size: 17px;
  padding: 5px;
}

.additional div b {
  color: #333;
}
