<md-card class="example-card">
  <md-card-header>
    <md-card-title>Категория: {{ model.phoneClass }}</md-card-title>
  </md-card-header>
  <md-card-content>
      <div  colspan="2" id = "order--phone">{{ model.msisdn }}</div>
      <div class="additional">
        <div class = "order--price">
          <div>Стоимость:<b>{{ model.price }} сомони</b></div>
        </div>
        <div class = "order--balance">
          <div>Баланс:<b>{{ store.balance.amount | number:'.2-2'}} сомони</b></div>
        </div>
      </div>
  </md-card-content>
  <md-card-actions>
    <button md-button (click)="removeOrder()">НАЗАД</button>
    <button md-button md-raised-button (click) = "goToRegister()" style="background: #673ab7; color:white;">РЕГИСТРАЦИЯ</button>
  </md-card-actions>
</md-card>
<!--<div [ngBusy]="busy"></div>-->
