<form (ngSubmit)="fetchNumbers()">

  <div class = "filter--container">
    <div class = "pattern">
      <input name = "pattern" placeholder="Введите номер для поиска" [(ngModel)]="model.pattern" />
    </div>
    <div class = "selects" *ngIf = "!store.isChiGap()">
      <div style="float: left">
        <select [(ngModel)]="model.category" placeholder="Категория" name="category">
          <option *ngFor="let category of categories" [value]="category.id">
            {{ category.name }}
          </option>
        </select>
      </div>
      <div>
        <select [(ngModel)]="model.prefix" placeholder="Префикс" name="prefix">
          <option  *ngFor="let prefix of prefixes" [value]="prefix.id" [selected]="prefix.name.substring(0,1) == '9'">
            {{ prefix.name }}
          </option>
        </select>
      </div>
    </div>
    <div class = "button">
      <button class="primary" md-raised-button type="submit">Проверить номер</button>
    </div>
  </div>
</form>
<!--<div [ngBusy]="busy"></div>-->
