.filter--container {
    margin-top:20px; 
    text-align: center;
    padding-left: 25px;
    padding-right: 25px;
}

.filter--container .selects{
    margin-top: 20px;
    text-align: center;
}

.filter--container select {
    width: calc(50vw - 45px);
    max-width: calc(50vw - 45px);
    height: 40px;
}

.filter--container .button{
    margin-top: 20px;
    width: 100%;
}

.filter--container .button button{
    width: 100%;
}
.primary{
    background: purple;
    color: white;
}
ng-busy-backdrop {
  width: 100%;
  height: 100%;
  background: red;
}
.pattern input{
    border: 1px solid purple;
    border-radius: 5px;
    width: 95%;
    height: 45px;
    font-size: 18px;
    padding-left: 2%;
    padding-right: 2%;
}


.button button {
    height:45px;
    padding: 5px 10px;
    font-size: 18px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #fff;
    background-color: #4fd697;
    border: none;
    border-radius: 5px;
    box-shadow: 0 7px #38a06f;
    width:100%;
    margin-top: 10px;
}
