<div class = "register-form--logo"> 
  <img src="assets/img/logo.png" alt = "logo"/>
</div>
<form (ngSubmit) = "submitForm()" class ="register-form">
  <div *ngIf= "!showPassField && !fetching" class = "register-form--number">
    <div class = "register-form--number__input">
      <input [(ngModel)] = "checkNumber.msisdn" name = "username" #username = "ngModel" placeholder="Введите номер" type="number" required min="0" inputmode="numeric" pattern="[0-9]*" title="Ваш телефонный номер" class = "login--form__phone"/>
      <div [hidden]="username.pristine || username.valid">
        <span [hidden]="username.valid || username.untouched">
          <span *ngIf="username.errors && username.errors.required">required</span>
          <span *ngIf="username.errors && username.errors.pattern">invalid</span>
        </span>
      </div>
    </div>
    <div class = "register-form--number__button">  
      <button class = "login--form__button" type="submit">Пройти аутентификацию</button>
    </div>
  </div>
  <div class = "pincodeForm" *ngIf= "showPassField && !fetching">
    <p>
      Мы выслали SMS с секретным кодом 
      <br /> на номер <b>+{{ checkNumber.msisdn }}</b>
    </p>
    <div>
      <input class = "login--form__password" [(ngModel)] = "authModel.pincode"  name = "pincode" type = "password"  #pincode placeholder="####" maxlength="9" required/>
    </div>
    <div>  
      <button class = "login--form__button" type="submit">Начать работу</button>
    </div>
  </div>

  <md-spinner *ngIf = "fetching"></md-spinner>
</form>
<br />
<md-card *ngIf = "error !== null">
    {{error}}
</md-card>
