.register-form .register-form--number{
    display: flex;
    flex-wrap: wrap;
    width: 100%
}

.register-form--number__input, .register-form--number__button{
    width: 100%;
}

.login--form__phone, .login--form__password {
    border: 1px solid purple;
    border-radius: 5px;
    width: 95%;
    height: 45px;
    font-size: 18px;
    padding-left: 2%;
    padding-right: 2%;
}

h3{
    text-align: center;
}
.login--form__button {
    height:45px;
    padding: 5px 10px;
    font-size: 18px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #fff;
    background-color: #5e037c;
    border: none;
    border-radius: 5px;
    box-shadow: 0 7px #4c0166;
    width:100%;
    margin-top: 10px;
}

.login--form__button:hover {background-color: #630184}

.login--form__button:active {
  background-color: #630184;
  box-shadow: 0 7px #666;
  transform: translateY(4px);
}
.register-form--logo{
    width: 100%;
    text-align: center;
}
.register-form--logo img{
    margin-top:20px; 
    margin-bottom: 20px;
    width:90% !important;
    max-width: 600px;
}

p{
    text-align: center;
}