<div class = "choose--container">
    <app-filter (dataReceived) = "dataWasRecieved($event)"></app-filter>
    <br />
    <hr />
    <div *ngIf = "showNumbers()">
        <div class = "choose--result__text">
            <b>Результаты поиска</b>
        </div>
        <div class = "choose--numbers__container" *ngFor = "let numbers of numberList.msisdn">
            <md-card (click) = "goToConfirmation(number.id)" *ngFor = "let number of numbers">
              <div style="display:flex;justify-content: center; align-items: center;">
                <md-icon md-list-icon [ngClass] = "[getSimClass(number.phoneClass)]" >sim_card</md-icon>
                <div md-line class = "choose--number__msisdn">{{ number.msisdn | slice:3 }}</div>
              </div>
            </md-card>
            <!-- <div (click) = "goToConfirmation(number.id)" *ngFor = "let number of numbers" class = "choose--number">
                <div class = "icon">
                    <md-icon [ngClass] = "['choose--number__icon', getSimClass(number.phoneClass)]" >sim_card</md-icon>
                </div>
                <div class = "choose--number__msisdn">{{ number.msisdn | slice:3 }}</div>
            </div> -->
        </div>
        <button class = "primary" style="margin:10px; " md-raised-button (click)= "loadMore()" >Еще...</button>
    </div>
    <md-card *ngIf = "!showNumbers() && this.numberList != null">
        По запросу ничего не найденно!
    </md-card>
</div>
