b{
    color: purple;
}
.choose--result__text{
    margin: 20px;
}
.choose--container{

}
.choose--filter{

}
.choose--numbers__container{
    text-align: center;
    display: -ms-flex;
    display: -webkit-flex;
    display: flex;
    flex-flow: row  wrap;
    align-items: center;
    justify-content: center;
}
.choose--number {
    flex: 0 0 40%;
    margin: 0.5%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.register--register__button{
    position: fixed;
    bottom: 0;
}
.choose--number__load-more{
    margin-top: 10px;
    width: 100%;
    float: center;
    background: purple;
    color: white;
}

.choose--number{
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 3px;
    padding-bottom: 3px;
    border: 2px solid gray;
    border-radius: 5px;
    color: #333;
    font-size: 20px;
    font-weight: bold;
}
.icon{
    float: left;
}
md-icon{
    color: purple;
    font-size: 30px;
}

.choose--number__msisdn{
  padding-left: 10px;
  padding-top: 10px;
  color: purple;
}

.gold{
    color: gold;
}

.silver{
    color: silver;
}

.simple{
    color: purple;
}

.bronze{
    color: #CD7F32;
}
