<md-sidenav-container  class = "main--block">
    <md-sidenav #sidenav mode="over" class="app-sidenav hide">
      <md-list-item style="width:100%;text-align: center;">
        <img src="assets/img/logo.png" width = "180px;"/>
      </md-list-item>
      <md-nav-list>
        <md-list-item [routerLink]="['./choose']" >
          <md-icon md-list-icon>dialpad</md-icon>
          <h3 md-line>Выбор номера</h3>
        </md-list-item>

        <md-list-item [routerLink]="['./choose/report']">
          <md-icon md-list-icon>assessment</md-icon>
          <h3 md-line>Отчет</h3>
        </md-list-item>
        <md-divider></md-divider>
        <md-list-item [routerLink]="['./exit']">
          <md-icon md-list-icon>exit_to_app</md-icon>
          <h3 md-line>Выход</h3>
        </md-list-item>
      </md-nav-list>
    </md-sidenav>
    <div [hidden] = "!store.menuIsVisible">
      <md-toolbar color="primary" >
        <button class="app-icon-button" (click)="sidenav.toggle()">
          <md-icon class="material-icons app-toolbar-menu">menu</md-icon>
        </button>
        <!--<span class="app-toolbar-filler"></span>
        {{ store.balance.amount | number:'.2-2'}}-->
      </md-toolbar>
    </div>


  <div class="app-content">
    <router-outlet></router-outlet>
  </div>

</md-sidenav-container>

