.main--block{
  position:absolute;
  width:100%;
  height:100%;
  display: flex;
  flex-direction:column;

}


.app-content {
  padding: 10px;
  flex: 1;
  text-align: center;
  width: 94%;
  height: 100%;
}


.app-sidenav {
  min-width: 250px;
}


.app-toolbar-filler {
  flex: 1 1 auto;
}

md-toolbar {
  height: 70px;
}
.app-toolbar-menu {
  padding: 22px 10px 10px 10px;
  color: white;
}

.app-icon-button {
  box-shadow: none;
  user-select: none;
  background: none;
  border: none;
  cursor: pointer;
  filter: none;
  font-weight: normal;
  height: auto;
  line-height: inherit;
  margin: 0;
  min-width: 0;
  padding: 0;
  text-align: left;
  text-decoration: none;
}

.app-action {
  display: inline-block;
  position: fixed;
  bottom: 20px;
  right: 20px;
}

.app-spinner {
  height: 30px;
  width: 30px;
  display: inline-block;
}

.app-input-icon {
  font-size: 16px;
}

.app-list {
  border: 1px solid rgba(0,0,0,0.12);
  width: 350px;
  margin: 20px;
}

.app-progress {
  margin: 20px;
}

.ng-pristine.ng-invalid.ng-touched:not(form) {
    background: #ffbfc1;
}
.ng-dirty.ng-invalid.ng-touched:not(form) {
    background: #ffbfc1;
}
.ng-dirty.ng-valid.ng-touched:not(form){
    background: #cff9ac;
}
