<md-card>
  <md-card-content>
    <h3>{{ model.number }}</h3>
    <div>
      Статус: <b>{{ getStatus(model.Status).text }}</b>
    </div>
    <div>
      Дата регистрации: <b>{{ model.regDate |  date:'medium' }}</b>
    </div>
    <br/>
    <div>
      Ваш заказ принят на обработку!
    </div>

  </md-card-content>
  <md-card-actions>
    <button md-button class = "secondary" (click) = "home()">Главная</button>
    <button md-button class = "primary" (click) = "refresh()">Проверить</button>
  </md-card-actions>

</md-card>
