md-card-content div{
    margin: 20px;
}

button {
    height:45px;
    padding: 5px 10px;
    font-size: 18px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #fff;
    border: none;
    border-radius: 5px;
    width:45%;
}

.primary{
    background-color: #5e037c;
    box-shadow: 0 7px #4c0166;
}

.secondary{
    background-color: gray;
    box-shadow: 0 7px #333;
}

md-card-actions{
    height: 55px;
}