<br />
  <div class="button-container">
    <label class="upload-button is-pulled-left">
      <input type="file"
        [disabled] = "disabled"
        class="hidden"
        ngFileSelect
        [options]="options"
        [events]="inputUploadEvents"
        (onUpload)="handleUpload($event)"
        (onPreviewData)="handlePreviewData($event)"
        (beforeUpload)="beforeUpload($event)"
        (onErrors)="errorMessage = $event">

        {{ label }}

    </label>
  </div>
  <div *ngIf="previewData" class = "imgPreview">
    <img [src]="previewData">
  </div>

  <md-progress-bar
          class="example-margin"
          attr.color="primary"
          mode="determinate"
          [value]="progress.percent">
  </md-progress-bar>
  <!--{{progress.loaded}} / {{ progress.total}}-->

  
  <div *ngIf="errorMessage" class = "uploader--message__error">
    <code>{{ errorMessage }}</code>
  </div>

<br />