.upload-button {
    display: block;
    outline: none;
    background: purple;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 16px;
    text-align: center;
    padding: 10px 0px;
    border: 1px solid gray;
}


.imgPreview img{
    width: 95%;
    border: 5px solid gray;
}

.upload-button input {
    display: none;
}
body, button, input, select, textarea {
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI","Roboto","Oxygen","Ubuntu","Cantarell","Fira Sans","Droid Sans","Helvetica Neue","Helvetica","Arial",sans-serif;
}
button, input, select, textarea {
    margin: 0;
}
* {
    box-sizing: inherit;
}
input[type="file" i] {
    align-items: baseline;
    color: inherit;
    text-align: start;
}
input[type="hidden" i], input[type="image" i], input[type="file" i] {
    -webkit-appearance: initial;
    background-color: initial;
    padding: initial;
    border: initial;
}
input {
    -webkit-appearance: textfield;
    background-color: white;
    -webkit-rtl-ordering: logical;
    user-select: text;
    cursor: auto;
    padding: 1px;
    border-width: 2px;
    border-style: inset;
    border-color: initial;
    border-image: initial;
}
input, textarea, keygen, select, button {
    text-rendering: auto;
    color: initial;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    margin: 0em 0em 0em 0em;
    font: 13.3333px Arial;
}
input, textarea, keygen, select, button, meter, progress {
    -webkit-writing-mode: horizontal-tb;
}

label {
    cursor: default;
}
html, body {
    font-family: 'Open Sans', sans-serif;
    height: 100%;
    color: #fff;
    background: #000;
}
body {
    color: #4a4a4a;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
}
body, button, input, select, textarea {
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI","Roboto","Oxygen","Ubuntu","Cantarell","Fira Sans","Droid Sans","Helvetica Neue","Helvetica","Arial",sans-serif;
}
html, body {
    font-family: 'Open Sans', sans-serif;
    height: 100%;
    color: #fff;
    background: #000;
}
html {
    background-color: #fff;
    font-size: 14px;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    min-width: 300px;
    overflow-x: hidden;
    overflow-y: scroll;
    text-rendering: optimizeLegibility;
}
*:before, *:after {
    box-sizing: inherit;
}
*:before, *:after {
    box-sizing: inherit;
}

.uploader--message__error{
    text-align: center;
    background: red;
    padding: 10px;
    color: white;
}
