<div class="container" >
    <div>
      <input 
        [required] = "required" 
        type="text" 
        [placeholder]="label" 
        class="validate filter-input" 
        [(ngModel)]="innerValue" 
        (keyup)="filter()" 
        #auto = "ngModel"/>
        <div *ngIf="auto.errors && (auto.dirty || auto.touched)">
          <span [hidden]="!auto.errors.required">Обязательное поле</span>
      </div>
    </div>
    <div class="suggestions" *ngIf="filteredList.length > 0">
        <ul *ngFor="let item of filteredList" >
            <li (click)="select(item.name)">
                <a >{{item.name}}</a>
            </li>
        </ul>
    </div>
</div> 