.filter-input{
    width: 100%;
}
.suggestions {
    border: 1px solid gray;
    padding: 0px;
    margin: 0px;
    margin-top: -10px;
    width: 100%;
}

.suggestions ul {
    padding: 0px;
    margin: 0px;
}

.suggestions ul li{
    list-style: none;
    padding: 10px;
    border-bottom: 1px solid gray;
}



.suggestions ul li a{
    width: 100%;
}
.suggestions ul li:hover{
    background: gray;
    font-weight: bold;

}
.suggestions ul li :hover{
    background: lightgray;
}

span{
    color: red;
}
input{
    border: 1px solid purple;
    border-radius: 5px;
    width: 98% !important;
    height: 38px;
    font-size: 18px;
    padding-left: 10px !important;
    margin-bottom: 10px;
}
.register--error__text{
    text-align: left;
}
.ng-pristine.ng-invalid.ng-touched:not(form) {
    background: #ffbfc1;
}
.ng-dirty.ng-invalid.ng-touched:not(form) {
    background: #ffbfc1;
}
.ng-dirty.ng-valid.ng-touched:not(form){
    background: #cff9ac;
}