md-icon{
    font-size: 18px;
}
input[type=text] {
    border: 1px solid purple;
    border-radius: 5px;
    width: 95%;
    height: 38px;
    font-size: 18px;
    padding-left: 3%;
    padding-right: 2%;
    margin-bottom: 10px;
}
.ng-pristine.ng-invalid.ng-touched:not(form) {
    background: #ffbfc1;
}
.ng-dirty.ng-invalid.ng-touched:not(form) {
    background: #ffbfc1;
}
.ng-dirty.ng-valid.ng-touched:not(form){
    background: #cff9ac;
}

.register--phone__number{
    font-size: 30px;
    color: purple;
    font-weight: bold;
    margin: 10px;
}
.register--message {
    font-size: 8;
    color: gray;
    margin-top: 20px;
    margin-bottom: 20px;
}

.register--gender {
    margin-top: 10px;
    border: 1px solid gray;
    display: -ms-flex;
	display: -webkit-flex;
	display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 100%;
    border-radius: 5px;
}
.register--gender .register--gender__item {
    width: 50%;
    height: 40px;
    display: -ms-flex;
	display: -webkit-flex;
	display: flex;
    align-items: center;
    justify-content: center;
}

.register--gender .register--gender__item md-icon{
    font-size: 25px;
    margin: 10px;
}
.register--gender .register--gender__item {
    background: lightgray;
    color: gray;
}
.register--gender .register--gender__item.active {
    background: purple;
    color: white;
}


.register--passport__series select,.register--passport__place select{
    height: 40px;
    margin-right:10px;
}
.register--passport__series input, .register--passport__series select {
    float: left;
    width: 45%;
}

.register--passport__place input, .register--passport__place select {
    float: left;
    width: 45%;

}


.register--error__text {
    text-align: left;
    width: 100%;
    color: red;
}

.buttons{
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;
    display: -ms-flex;
	display: -webkit-flex;
	display: flex;
    align-items: center;
    justify-content: space-between;
}
button {
    height:45px;
    padding: 5px 10px;
    font-size: 18px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #fff;
    border: none;
    border-radius: 5px;
    margin: 2px;
}

.primary{
    background-color: #5e037c;
    box-shadow: 0 7px #4c0166;
    width: 50%;
}

.secondary{
    background-color: gray;
    box-shadow: 0 7px #333;
    width: 30%;
}
