<div class = "register--phone__number">{{model.strPhoneNumber}}</div>
<div class = "register--message">{{message}}</div>
<form #form = "ngForm" (ngSubmit)= "register(form, $event)">
  <div class = "register--inputs">
    <input [(ngModel)] = "model.strPhoneNumber" name = "strPhoneNumber" type = "hidden"/>
    <input [(ngModel)] = "model.regType" name = "regType" type = "hidden"/>
    <input type="text" [(ngModel)] = "model.strLastName" (ngModelChange)="toUppercaseLastName($event)" name = "strLastName" #strLastName = "ngModel" placeholder = "Фамилия" #name="ngModel" required/>
    <div class = "register--error__text" *ngIf="strLastName.errors && (strLastName.dirty || strLastName.touched)">
        <md-icon>warning</md-icon>
        <span [hidden]="!strLastName.errors.required">{{MESSAGE_FIELD_REQIRED}}</span>
    </div>

    <input type="text" [(ngModel)] = "model.strName" (ngModelChange)="toUppercaseFirstName($event)" name = "strName" #strName = "ngModel" placeholder = "Имя" required />
      <div class = "register--error__text" *ngIf="strName.errors && (strName.dirty || strName.touched)">
          <md-icon>warning</md-icon><span [hidden]="!strName.errors.required">{{MESSAGE_FIELD_REQIRED}}</span>
      </div>
    <input type="text" [(ngModel)] = "model.strSecondName" (ngModelChange)="toUppercaseSecondName($event)" name = "strSecondName" placeholder = "Отчество" />
    <div>
    <md-form-field>
      <input type="text" (click)="txtDateBirth.open()" mdInput [(ngModel)]="model.txtDateBirth" [mdDatepicker]="txtDateBirth" name="txtDateBirth" placeholder = "Дата рождения *">
      <md-datepicker  touchUi="true" #txtDateBirth></md-datepicker>
    </md-form-field>
      <!-- <my-date-picker [placeholder] = "'Дата рождения *'"  required name = "txtDateBirth" [options]="getBirthDateOptions()" [(ngModel)] = "model.txtDateBirth"></my-date-picker> -->
      <br/>
    </div>
    <div class = "register--gender">
      <div (click) = "model.gender = 1" [ngClass] = "{'register--gender__item': true, 'active': !isManSetted() }">
        <img height="25px" src="assets/img/women_black.png" alt="women"> Женщина
      </div>
      <div (click) = "model.gender = 0" [ngClass] = "{'register--gender__item': true, 'active': isManSetted() }">
        <img height="25px" src="assets/img/men_black.png" alt="women">Мужчина
      </div>
    </div>

    <div *ngIf = "!store.isChiGap()">
      <input [(ngModel)] = "model.strIcc" name = "strIcc" type = "text" [maxlength] = "11" [minlength] = "11" #icc = "ngModel" placeholder="ICC(11 Цифр)" pattern="^[0-9]{11}$" required />
      <div class = "register--error__text">
        <span *ngIf="icc.errors && (icc.dirty || icc.touched)">
            {{MESSAGE_FIELD_REQIRED}}
        </span>
        <span *ngIf="icc.errors && icc.errors.pattern">
            ICC должен состоять из 11 символов!
        </span>
      </div>
    </div>
    <br/>
    <autocomplete [value] = "model.txtCountry" [objects] = "country" required (dataSelected) = "model.txtCountry = $event" name = "txtCountry" label = "Страна"></autocomplete>
    <autocomplete [value] = "model.txtRegion" [objects] = "region" required (dataSelected) = "model.txtRegion = $event" name = "txtRegion" label = "Регион"></autocomplete>
    <autocomplete [value] = "model.txtDistrict" [objects] = "district" (dataSelected) = "model.txtDistrict = $event" name = "txtDistrict" label = "Район"></autocomplete>
    <autocomplete [value] = "model.txtCity" [objects] = "city" (dataSelected) = "model.txtCity = $event" name = "txtCity" label = "Город"></autocomplete>

    <input type="text" [(ngModel)] = "model.txtJamoat" name = "txtJamoat" placeholder="Джамоат"/>
    <input type="text" [(ngModel)] = "model.txtVillage" name = "txtVillage" placeholder="Кишлак"/>
    <input type="text" [(ngModel)] = "model.txtStreet" name = "txtStreet" placeholder="Улица"/>
    <input type="text" [(ngModel)] = "model.txtHouse" name = "txtHouse" placeholder="Дом/кв"/>

    <div *ngIf = "store.isChiGap()">
      <input type="text" [(ngModel)] = "model.email" name = "email" placeholder="Email" #email = "ngModel" required pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" />
      <div class = "register--error__text">
        <span *ngIf="email.errors && (email.dirty || email.touched)">
            {{MESSAGE_FIELD_REQIRED}}
        </span>
        <span *ngIf="email.errors && email.errors.pattern">
            Не правильно введен Email, пример: example@tcell.tj, john.doe@gmail.com...
        </span>
      </div>
    </div>

    <div *ngIf = "store.isChiGap()">
      <input type="text" [(ngModel)] = "model.contactNumber" name = "contactNumber"  placeholder="Контактный номер" required pattern="^(((\+7)|7)[0-9]{10})$|^(9[0-9]{9,12})$|^(5[0-9]{8})$|^(7[0-9]{8})$" #contactNumber = "ngModel" />
      <div class = "register--error__text">
        <span *ngIf="contactNumber.errors && (contactNumber.dirty || contactNumber.touched)">
            {{MESSAGE_FIELD_REQIRED}}
        </span>
        <span *ngIf="contactNumber.errors && contactNumber.errors.pattern && contactNumber.touched">
            Номер должен быть в международном формате: 992931234567, +79251231234
        </span>
      </div>
    </div>

    <!-- <md-checkbox *ngIf = "store.isChiGap()" [(ngModel)] = "model.passType" name = "passType">Загран. паспорт</md-checkbox> -->

    <div class = "register--passport__series">
      <select required placeholder="Серия" [(ngModel)] = "model.txtPassportSerias" name="txtPassportSerias" >
          <option *ngFor="let series of getPassportSeries()" [value]="series.id"  >
            {{ series.name }}
          </option>
      </select>
      <div>
        <input type="text" [(ngModel)] = "model.txtPassportNumber" name = "txtPassportNumber" placeholder="Номер" minlength= "7" [maxlength]= "getPassTypeLen()" #txtPassportNumber = "ngModel" pattern="^[0-9]{6,9}$" required/>
        <div class = "register--error__text">
          <span *ngIf="txtPassportNumber.errors && (txtPassportNumber.dirty || txtPassportNumber.touched)">
              {{MESSAGE_FIELD_REQIRED}}
          </span>
          <span *ngIf="txtPassportNumber.errors && txtPassportNumber.errors.pattern && txtPassportNumber.touched">
              Номер паспорта для внутрених 6 цифр и на загран 9.
          </span>
        </div>
      </div>
    </div>

    <div class = "register--passport__place">
      <select placeholder="Выдан" [(ngModel)] = "model.txtPassportPlaceType" name="txtPassportPlaceType" #txtPassportPlaceType required >
          <option [value]="place.id" *ngFor="let place of getPassportPlaces()"  >
            {{ place.name }}
          </option>
      </select>
      <div *ngIf="txtPassportPlaceType.errors && (txtPassportPlaceType.dirty || txtPassportPlaceType.touched)">
        <div class = "register--error__text">
            <span [hidden]="!txtPassportPlaceType.errors.required">{{MESSAGE_FIELD_REQIRED}}</span>
        </div>
      </div>

      <div>
        <input type="text" [(ngModel)] = "model.txtPassportPlace" name = "txtPassportPlace" placeholder="Кем выдан" required #txtPassportPlace = "ngModel"/>
        <div class = "register--error__text">
          <div *ngIf="txtPassportPlace.errors && (txtPassportPlace.dirty || txtPassportPlace.touched)">
            <span [hidden]="!txtPassportPlace.errors.required">{{MESSAGE_FIELD_REQIRED}}</span>
          </div>
        </div>
      </div>
    </div>
    <div>
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <md-form-field>
        <input type="text" (click)="txtPassportWhen.open()" mdInput [placeholder]="'Дата получения паспорта *'" [mdDatepicker]="txtPassportWhen" name="txtPassportWhen" [(ngModel)] = "model.txtPassportWhen">
        <md-datepicker touchUi="true" #txtPassportWhen></md-datepicker>
      </md-form-field>
    </div>
  </div>
  <app-image-uploader (inputUploadEvents) = "printImageUploadEvents($event)" inputName = "frontImage" #firstImage [startUploading]="false"  label = "Лицевая часть" (onResponse) = "imageOneProgress($event)" [id] = "responseModel.id"></app-image-uploader>
  <app-image-uploader (inputUploadEvents) = "printImageUploadEvents($event)" inputName = "backImage"  #secondImage [startUploading]="true" *ngIf= "!model.passType"  label = "Задняя часть" (onResponse) = "imageTwoProgress($event)" [id] = "responseModel.id"></app-image-uploader>
  <div class = "register--inputs">
    <p>
      Допустимые форматы: <code><b>.jpg</b>, <b>.png</b></code>
    </p>
    <div class = "buttons">
      <button class = "secondary" md-raised-button (click) ="clear()" type="button">Очистить</button>
      <button class = "secondary" md-raised-button (click) = "back()" type="button">Назад</button>
      <button class = "primary" md-raised-button type = "submit">Регистрация</button>
    </div>
  </div>
</form>
<!--<div [ngBusy]="busy"></div>-->
